[user]
    name = Sami Tabet
    email = salph.tabet@gmail.com
[core]
    editor = nvim
    pager = delta
[github]
    user = sfluor
[init]
    templatedir = ~/.git_template
    defaultBranch = main
[help]
    autocorrect = prompt
[interactive]
    diffFilter = delta --color-only
[add.interactive]
    useBuiltin = false # required for git 2.37.0

[delta]
    navigate = true    # use n and N to move between diff sections

[diff]
    colorMoved = default
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
    external = difft

[column]
    ui = auto
[branch]
    sort = -committerdate
[tag]
    sort = version:refname
[push]
    default = simple
    autoSetupRemote = true
    followTags = true
[fetch]
    prune = true
    pruneTags = true
    all = true
[commit]
    verbose = true
[rerere]
    enabled = true
    autoupdate = true
[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true
