alias tree="tree -C"

# Alias to manage dotfiles
alias config='/usr/bin/git --git-dir=$HOME/.myconf/ --work-tree=$HOME'

alias sshpi="ssh pi@82.243.4.245 -i ~/.ssh/perso_rsa"
alias ll="exa --long --all"
alias l="exa --long"

alias v="vim"
alias t="task"

alias -g G="|ag"

# Alias to use the local vagrantfile instead of the global one
alias lagrant="VAGRANT_CWD=. vagrant $@"

# Git aliases
alias gcan="git commit --amend --no-edit"
alias gco='git checkout $(git branch -a | fzf)'
