alias tree="tree -C"

# Alias to manage dotfiles
alias config='/usr/bin/git --git-dir=$HOME/.myconf/ --work-tree=$HOME'

alias sshpi="ssh pi@82.243.4.245 -i ~/.ssh/perso_rsa"
alias ll="exa --long --all"
alias l="exa --long"
