# Docker compose up shortcut
dcu () {
    if [[ $# -eq 0 ]]
    then
        docker-compose up
    else
        docker-compose -f "$1" up
    fi
}

link_sshrc () {
    mkdir -p ~/.sshrc.d
    ln -sf ~/.vimrc ~/.sshrc.d/.vimrc
    ln -sf ~/.functions ~/.sshrc.d/.functions
    ln -sf ~/.zshrc ~/.sshrc.d/.zshrc
    ln -sf ~/.aliases ~/.sshrc.d/.aliases
    ln -sf ~/.datadogrc ~/.sshrc.d/.datadogrc
}

fbr() {
  local branches branch
  branches=$(git branch -vv) &&
  branch=$(echo "$branches" | fzf +m) &&
  git checkout $(echo "$branch" | awk '{print $1}' | sed "s/.* //")
}
