# Docker compose up shortcut
dcu () {
    if [[ $# -eq 0 ]]
    then
        docker-compose up
    else
        docker-compose -f "$1" up
    fi
}

link_sshrc () {
    mkdir -p ~/.sshrc.d
    ln -sf ~/.vimrc ~/.sshrc.d/.vimrc
    ln -sf ~/.functions ~/.sshrc.d/.functions
    ln -sf ~/.zshrc ~/.sshrc.d/.zshrc
    ln -sf ~/.aliases ~/.sshrc.d/.aliases
    ln -sf ~/.datadogrc ~/.sshrc.d/.datadogrc
}

# Fuzzy search on github branches
fbr() {
    local branches branch
    branches=$(git branch -vv) &&
    branch=$(echo "$branches" | fzf +m) &&
    git checkout $(echo "$branch" | awk '{print $1}' | sed "s/.* //")
}

# get_battery retrieves the % of battery left (for now only macos is implemented)
get_battery() {
   pmset -g batt | grep -Eo "\d{1,3}%"
}

# get_spotify_song retrieves the current song being played on spotify
get_spotify_song() {
    spotify status | grep "Artist\|Track" | sed "s/Artist: \(.*\)/(\1)/" | sed "s/Track: \(.*\)/\1/" | tac | tr -d "\n"
}

# scratch creates a new scratch branch
scratch() {
    git checkout -b sami/scratch
}
