# vim: set syntax=zsh:

alias tree="tree -C"

if [ -x "$(command -v eza)" ]; then
    alias ll="eza --long --all"
    alias l="eza --long"
else
    alias ll="ls -lah"
    alias l="ls -lh"
fi

alias v="vim"
alias t="task"

# handy alias to pipe filter
if [ -x "$(command -v rg)" ]; then
    alias -g G="|rg"
else
    alias -g G="|grep"
fi

# Git aliases
alias gcan="git commit --amend --no-edit"
alias gmc="git merge --continue"

# If sshrc is installed setup an alias
if [ -x "$(command -v sshrc)" ]; then
    alias ssh='sshrc'
fi

# If neovim is installed alias it to vim
if [ -x "$(command -v nvim)" ]; then
    alias vim="nvim"
fi
