# vim: set syntax=zsh:

alias tree="tree -C"

alias sshpi="ssh pi@82.243.4.245 -i ~/.ssh/perso_rsa"

if [ -x "$(command -v exa)" ]; then
    alias ll="exa --long --all"
    alias l="exa --long"
else
    alias ll="ls -lah"
    alias l="ls -lh"
fi

alias v="vim"
alias t="task"

# handy alias to pipe filter
if [ -x "$(command -v ag)" ]; then
    alias -g G="|ag"
else
    alias -g G="|grep"
fi

# Git aliases
alias gcan="git commit --amend --no-edit"

# If sshrc is installed setup an alias
if [ -x "$(command -v sshrc)" ]; then
    alias ssh='sshrc'
fi

# If neovim is installed alias it to vim
if [ -x "$(command -v nvim)" ]; then
    alias vim="nvim"
fi
