# vim: set syntax=zsh:

alias tree="tree -C"

alias sshpi="ssh pi@82.243.4.245 -i ~/.ssh/perso_rsa"

if [ -x "$(command -v exa)" ]; then
    alias ll="exa --long --all"
    alias l="exa --long"
else
    alias ll="ls -lah"
    alias l="ls -lh"
fi

alias v="vim"
alias t="task"

alias -g G="|ag"

# Git aliases
alias gcan="git commit --amend --no-edit"
alias ssh='sshrc'
