# vim: set syntax=zsh:

# Docker compose up shortcut
dcu () {
    if [[ $# -eq 0 ]]
    then
        docker-compose up
    else
        docker-compose -f "$1" up
    fi
}

link_sshrc () {
    mkdir -p ~/.sshrc.d
    ln -sf ~/ssh/.vimrc ~/.sshrc.d/.vimrc
    ln -sf ~/zsh/.functions ~/.sshrc.d/.functions
    ln -sf ~/zsh/.zshenv ~/.sshrc.d/.zshenv
    ln -sf ~/zsh/.zshrc ~/.sshrc.d/.zshrc
    ln -sf ~/zsh/.aliases ~/.sshrc.d/.aliases
    ln -sf ~/.datadogrc ~/.sshrc.d/.datadogrc
}

# Fuzzy search on github branches
fbr() {
    local branches branch
    branches=$(git branch -vv) &&
    branch=$(echo "$branches" | fzf +m) &&
    git checkout $(echo "$branch" | awk '{print $1}' | sed "s/.* //")
}

# scratch creates a new scratch branch
scratch() {
    git checkout -b sami/scratch
}

kubecontext() {
    kubectl config current-context
}

# kubenamespace takes the current context and returns the current namespace
kubenamespace() {
    kubectl config view -o=jsonpath="{.contexts[?(@.name==\"${1}\")].context.namespace}"
}

# func to use the local vagrantfile instead of the global one
lagrant() {
    VAGRANT_CWD=$(pwd) vagrant $@
}
